@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap');

.index {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: solid 2rem #ee5c47;
  background: #ffffff;
  overflow-y: scroll;
}

.intro {
  height: 100%;
  width: 100%;
  display: flex;
  border-bottom: solid 0.2rem #3487bd;
}

.logo, .about {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register {
  font-family: "Josefin Sans";
  margin-top: 2rem;
  padding: 1.5rem;
  width: 20rem;
  box-sizing: border-box;
  text-align: center;
  background: #3487bd;
  color: #ffffff;
  border-radius: 1.5rem;
  font-size: 2rem;
  text-decoration: none;
}

.about {
  box-sizing: border-box;
  padding: 10rem;
  font-size: 2.5rem;
  text-align: justify;
  color: #3487bd;
  font-weight: 600;
  font-family: 'Josefin Sans';
  line-height: 5rem;
}

.about-para {
  border-top: solid 0.5rem #345abd;
  border-bottom: solid 0.5rem #345abd;
  padding: 5rem 0;
}

.date {
  font-size: 3rem;
  /* font-family: 'Trade Winds'; */
  font-family: 'Yeon Sung';
  font-weight: bold;
  color: #345abd;
}

.hacker-day-logo {
  width: 50rem;
}

.venue {
  font-family: 'Josefin Sans';
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.2rem #3487bd;
}

.venue h4 {
  font-size: 2rem;
  color: #888888;
}

.venue h1 {
  font-size: 3.5rem;
  color: #3487bd;
}

.venue h3 {
  font-size: 3rem;
  color: #ee5c47;
}

.schedule-btn {
  padding: 1.5rem;
  background: #3487bd;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
  font-size: 2rem;
  transition: all 0.3s;
}

.schedule-btn:hover {
  background: #345abd;
}

.faq{
  text-align: center;
  font-family: 'Josefin Sans';
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-bottom: solid 0.2rem #3487bd;
  box-sizing: border-box;
}

.faq h2 {
  font-size: 4rem;
  color: #ee5c47;
}

.question {
  font-size: 2.5rem;
  color: #3487bd;
}

.answer {
  font-size: 1.5rem;
  font-weight: 500;
  color: #777777;
}

.sponsors {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact {
  border-bottom: solid 0.2rem #3487bd;
  text-align: center;
  font-family: 'Josefin Sans';
  font-size: 2rem;
  padding: 2rem;
}

.contact h1 {
  color: #ee5c47;
}

.contact h5 {
  color: #345abd;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans';
  height: 6rem;
  background: #3487bd;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 800;
}
footer a{
  text-decoration: none;
  color: #ffffff;
}


@media screen and (max-width : 1200px) {
  .about {
    font-size: 2rem;
  }
}

@media screen and (max-width : 990px) {
  .hacker-day-logo {
    width: 35rem;
  }

  .date {
    font-size: 2.5rem;
  }

  .about {
    font-size: 1.5rem;
  }
  
  .about-para {
    padding: 2rem 0;
    line-height: 4rem;
  }
}


@media screen and (max-width : 700px)  {
  .intro {
    display: block;
    height: auto;
  }
  .logo {
    width: 100%;
  }
  .about{
    width: 100%;
  }
  
  .question {
    font-size: 2rem;
  }
  .answer {
    font-size: 1.3em;
  }
  .sponsors {
    flex-direction: column;
  }
}

@media screen and (max-width : 700px) {
  .venue h1 {
    font-size: 2.5rem;
  }
  
  .venue h3{
    font-size: 2rem;
  }
  
  .about {
    padding: 3rem;
  }
}

@media screen and (max-width : 400px) {
  .venue h1 {
    font-size: 1.8rem;
  }

  .venue h3{
    font-size: 1.2rem;
  }

  footer {
    font-size: 1rem;
  }
}