html {
  font-family: sans-serif;
  font-size: 62.5%;
  -ms-overflow-style: none;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar { width: 0 !important }
